/*colores*/
$bk-body: url(../media/fondo.png);
$bk-header: url(../media/banner.jpeg);
$color-principal: #541e53;
$color-contraste: #4974a5;
$color-principal-claro: $color-principal + 150;
$color-contraste-claro: #B6C7DB;
$sombra-dark: 2px 2px 4px black;
$sombra-light: 3px 3px 4px $color-principal-claro;
$degradado-principal-transparente: linear-gradient(to bottom, transparent, $color-principal);
$degradado-principal-light: linear-gradient(to bottom, #ffffff, $color-principal);
$degradado-principal: linear-gradient(to bottom, $color-principal, $color-principal - 40);
$degradado-principal-2: linear-gradient(to bottom, $color-principal, $color-principal - 80);
$font-color-light: $color-principal-claro;
$font-color-dark: $color-principal;
$navbar-dark-color: $color-principal;
$modal-content-bg: url(../media/fondo.png);
$modal-header-border-color: url(../../img/fondo.png);
$bg-dark: $color-principal - 50;
$table-bg-level: $bg-dark;
$table-bg: $degradado-principal-2;
$table-hover-bg: $color-contraste;
$table-hover-color: $color-principal-claro;
$table-hover-bg-factor: .1;
$border-table-color:$color-principal-claro;
$carousel-control-color: $color-principal;
$input-bg: $color-principal-claro;
$input-color: $color-principal;
$input-focus-box-shadow: none;
$gray-600: $color-principal;
$input-placeholder-color: $gray-600;
$input-border-color: 2px solid $color-principal;
$form-check-input-bg: $color-principal-claro;
$form-check-input-checked-bg-color: $color-principal;
$form-check-input-checked-bg:$color-principal;
$form-check-input-focus-border: $color-principal;
$form-check-input-checked-color: $color-principal;
$form-select-indicator-color: $color-principal;
$navbar-dark-brand-color: $color-principal;
$input-color: $color-principal;
$btn-focus-box-shadow: none;
$accordion-button-focus-box-shadow: $btn-focus-box-shadow;
$input-focus-border-color: $color-principal-claro;
$accordion-button-focus-border-color: $input-focus-border-color;
$accordion-button-active-bg: $color-principal-claro;
$accordion-button-active-color: $color-principal;
$color-fb: #3b5998;
$color-ig: #dd2a7b;



::selection{
    background-color: $color-contraste;
    color: $color-contraste-claro;
}

@mixin bk-img($img,$position, $size, $repeat) {
    background-image: $img;
    background-position: $position;
    background-size: $size;
    background-repeat: $repeat;    
}

/*solo letra-clara*/
@each $color-light in index__main__div__div-text span, index__main__div__div-text a{
    .#{$color-light}{
        color: $color-principal-claro;
    }
}

/*letra-clara-c/sombra*/
@each $letra-clara in index__aside-contain, body__footer__div-icon a, body__footer__div-text p{
    .#{$letra-clara}{
        color: $font-color-light;
        text-shadow: $sombra-light;
    }
}

/*fondos de las card*/
$index--card:(
    img: url(../media/clase_02.jpg),
    horario: url(../media/horarios.jpg),
    nov: url(../media/clase_4.jpg),
    form: url(../media/salon_2.jpg),
    );

@each $card--bk, $card--img in $index--card {
    .card-#{$card--bk}{
        @include bk-img($card--img, center, cover, no-repeat);
        margin-bottom: 5px;
    }    
}

h1{
    color: $color-principal;
    text-shadow: $color-principal-claro;
}

.body__nav__div__logo--style{
    color: $navbar-dark-brand-color !important;
    background-color: $color-contraste-claro;
    border-radius: 20px;
    text-shadow: $color-contraste;
}

.nav__div__div__ul__li--style{
    padding: 6.5px;
        a{
        color: $color-contraste-claro;
        text-shadow: $sombra-dark;
        }
}

.horarios__section__main__div__h1--estilo{
    color:$color-principal-claro;
    text-shadow: $sombra-dark;
    text-align: center;
    background-color: $color-principal;
}

.body--contain{
    @include bk-img($bk-body, center, cover, repeat);
}

.body__banner--contain{
    @include bk-img($bk-header, center, cover, no-repeat);
}
.body__banner__div--img h1, h2{
 text-shadow: $sombra-dark;
}

.index__main__div__div-degradado{
    background-image: $degradado-principal-transparente;
}

.index__main__div__div-text a{
    color: $color-principal-claro;
    text-shadow: $sombra-dark;
    background-color: $color-contraste;
    opacity: 50%;
}

.index__article__div-contain{
    h4{
        background-color: $color-principal;
        color: $color-principal-claro;
    }      
}

.index__aside-contain{
    background-color: $color-principal;
}

.body__footer-contain{
    background-image: $degradado-principal;
}

.body__footer__div-sitemap{
    color: $color-principal-claro;
        li a{
            color: $color-principal-claro;
            text-shadow: $sombra-light;
        }
}

/*fotos*/
.bttn--img{
        padding: 0px;
        box-shadow: $sombra-dark;
}

@each $bloque in header, body, footer {
    .modal-#{$bloque} {
        @include bk-img($modal-content-bg, center, cover, repeat);
        background-color: $color-principal-claro;
    }
}
/*horarios*/
.table{
    background-image: $table-bg;
    color: $color-principal-claro;
    text-align: center;
}

.table-hover{
    background-color: $table-hover-bg;
    color: $table-hover-color;
}

/*nosotros*/
.nosotros__main__div__div__collapse--contain{
    color: $color-principal;
}
.nosotros__main__div__items--contain{
    background-color: #ffffff;
}

.bttn--card{
    color: $color-principal;
    background-color:$color-principal-claro;
}

.bttn--card:focus{
    box-shadow: $accordion-button-focus-box-shadow;
    border-color: $accordion-button-focus-border-color;
    background-color: $accordion-button-active-bg;
    color: $accordion-button-active-color;
}

.bttn--card:hover{
    color: $color-contraste;
}

.bttn--card:active{
    color: $color-contraste-claro;
    background-color:transparent;
}


.nosotros__main__div__div__card--style{
    background-color: transparent;
    p{
        color: #000000;
    }
    img{
        border-radius: 20px;
    }
}

/*contactanos*/

.contacto__main__form__div__div__input--style{
    background-color: $input-bg;
    color:$input-color;
    font-weight: 900;
    color: $input-placeholder-color;
    border: none;
}

.contacto__main__form__div__div__input--style:focus{
    background-color: $input-bg;
    color:$color-principal;
    box-shadow: $input-focus-box-shadow;
    border: $input-border-color;
}

.contacto__main__form__div__div__switch--style{
    background-color: $form-check-input-bg;
}

.form-check-label{
    background-color: $color-principal;
    color: $color-principal-claro;
}

.form__btn--dark{
    background-color: $color-principal;
    color: $color-principal-claro;
    border-radius: 20px;
    box-shadow: $sombra-dark;
}

.form__btn--dark:hover{
        background-color: $color-principal-claro;
        color: $color-principal;
}

.form__btn--light{
    background-color: $color-principal-claro;
    color: $color-principal;
    border-radius: 20px;
    box-shadow: $sombra-dark;
}
.form__btn--light:hover{
    background-color: $color-principal;
    color: $color-principal-claro;
}

.contacto__aside__div--contain{
    background-color: $color-principal;
}
.contacto__aside__div__h1--style{
    color: $color-principal-claro;
    text-shadow: $sombra-light;
}

.contacto__main__form__h1--style{
    color: $color-principal-claro;
    text-shadow: $sombra-dark;
    background-color: $color-principal;
}

$redes:(
    ig: $color-ig,
    fb: $color-fb
);
@each $rs, $color in $redes{
    .icon--#{$rs}{
        color: $color;
    }
}
