/*tamaños*/
$estructura-resp: 100%;
$estructura-Xl: 600px;
$estructura-L: 400px;
$estructura-M: 200px;
$estructura-S: 100px;
$estructura-Xs: 50px;
$bordeO: 50%;
$borde-redondeado: 25px;
$color-principal: #541e53;

@mixin alto-ancho($height, $widht) {
    height: $height;
    width: $widht;
}

/*bloques-100% de pantalla*/
@each $bloque-resp in body__banner--contain, index__main-contain, index__aside-contain, body__footer-contain, index__main__div-contain, index__article__div-contain, index__article__div-contain iframe, body__footer-contain{
    .#{$bloque-resp}{
        width: $estructura-resp;
    } 
}

@each $bloque300 in body__banner--contain, index__main__div-contain, index__article-mapa{
    .#{$bloque300}{
        height: $estructura-M + 100;
    }
}

@each $card-1x1 in index__main__div-contain, index__main__div__div-degradado{
    .#{$card-1x1}{
        height: $estructura-M + 150;
    }
}

.index__aside-contain{
    height: $estructura-resp;
}

.index__aside__div-img{
    height: $estructura-resp;
}
.index__aside__div__img--style{
    border-radius: $bordeO;
    height: $estructura-S;
    width: $estructura-S;
}


.body__footer-contain{
    height: $estructura-L;
}

/*fotos*/
@each $galery--element in bttn--img, galeria__main__div__img-resp{
    .#{$galery--element}{
        border-radius: $borde-redondeado;
    }
}

.galeria__main__div__modal__img-tamano {
    height: $estructura-L + 100;
    width: $estructura-Xl; 
}
.nostros__main__div__div__headItem--contain, .nosotros__main__div__div__h4--card{
    width: $estructura-resp;
}
.nosotros__main__div__div__card--style, .nosotros__main__div__div__collapse--contain{
    img{
        @include alto-ancho($estructura-M, $estructura-M)
    };
}

.novedades__main__carrusel--style{
    @include alto-ancho(400px, $estructura-resp);
}

.contacto__main--contain{
    width: $estructura-resp;
}
.contacto__main__form__div__div__input--style{
    border: 2px solid $color-principal;
}


@media only screen and (min-device-width: 750px){
    .contacto__main--contain{
        width: $estructura-resp;
    }
    .contacto__main__form__div__div__input--style{
        width: $estructura-resp;
        border: 2px solid $color-principal;
    }

    .index__aside__div-img{
        height: $estructura-resp;
    }
    .index__aside__div__img--style{
        border-radius: $bordeO;
        height: $estructura-S +50;
        width: $estructura-S +50;
    }
}
@media only screen and (min-device-width: 1024px){
    .index__aside__div__img--style{
        border-radius: $bordeO;
        height: $estructura-M;
        width: $estructura-M;
}
}