/*estructura*/
$espaciado-s: 10px;
$espaciado-m: 50px;
$espaciado-l: 100px;

@mixin flex-box($flex, $flexflow, $justify, $aling) {
    display: $flex;
    flex-flow: $flexflow;
    justify-content: $justify;
    align-content: $aling;
}

@media only screen and (min-device-width: 320px){

    @each $flex_colum_nowrap in body--contain,body__banner--contain, body__banner__div--img, index__main-contain, index__main__div__div-text, index__aside-contain, body__galeria--contain{
        .#{$flex_colum_nowrap}{
            @include flex-box(flex, column nowrap, center, center);
        }
    }

    .index__main-contain{
        margin-top: 15px;
    }

    .body__index--contain{
        @include flex-box(flex,column nowrap , stretch, stretch);
    }
    
    .body__banner__div--img{
        h1{
            text-align: center;
        }
        h2{
            text-align: center;
        }
    }

    .index__main__div__div-text{
        padding-top: $espaciado-l + 140;
    }

    .index__aside__div-img{
        @include flex-box(flex, row wrap, space-around, space-around);
    }

    .body__footer__div-text{
        padding-top: $espaciado-s + $espaciado-s;
    }

    .body__footer__div-sitemap{
        display: none;
    }

    .body__footer__div-icon{
        @include flex-box(flex, column nowrap, space-between, space-around);
    }

    .horarios__section__main--contain{
        margin-top: $espaciado-s;
        @include flex-box(flex, column nowrap, center, center);
    }

    /*nostros*/
    .nosotros__main__div__div__card--style{
        @include flex-box(flex, row nowrap, space-around, center);
        padding: $espaciado-s;
    }

    /*contacto*/
    .contacto__main__form__div__div__input--style{
        margin-top: $espaciado-s;
    }
    .contacto__main__form--contain{
        @include flex-box(flex, row wrap, space-around, space-around);
    }
    .contacto__main__form__div__div__switch--style{
        margin-top: $espaciado-s;
    }
    .form-check-label{
        margin-top: 10px;
    }

    .contacto__main__form__div__div--botones{
        margin-top: $espaciado-s;
        text-align: center;
    }

    .form__btn--light{
        padding: $espaciado-s - 5;
    }

    .contacto__aside__div--contain{
        @include flex-box(flex, row wrap, space-around, center);
        margin-top: $espaciado-s;
    }

}

@media only screen and (min-width: 750px){

    .contacto__main__form--contain{
        @include flex-box(flex, column nowrap, stretch, center);
    }
    /*footer*/
    $div-footer: (
        text: telefono,
        sitemap: sitemap,
        icon: redes
    );

    @each $bloque, $sitegrid in $div-footer {
        .body__footer__div-#{$bloque}{
            grid-area: $sitegrid;
        }
    }

    .body__footer__div-sitemap{
        display: block;
    }

    .body__footer-contain{
        display: grid;
        grid-template-columns: 2fr 8fr 2fr;
        grid-template-rows: auto;
        grid-template-areas:
        "telefono sitemap redes";
        justify-items: center;
        align-items: start;
        padding-top: $espaciado-s;
    }
 
    /*general del index*/
    $g-area: (
        nav: nav,
        body__banner--contain: banner,
        index__main-contain: main,
        index__article-mapa: mapa,
        index__aside-contain: profes,
        body__footer-contain: footer
       );

    @each $bloque, $bloque-grid in $g-area {
        .#{$bloque}{
            grid-area: $bloque-grid;
        }
    }

    .body__index--contain{
        display: grid;
        grid-template-columns: 9fr 3fr;
        grid-template-rows: auto auto 1420px auto auto;
        grid-template-areas: 
        "nav nav"
        "banner banner"
        "main profes"
        "mapa profes"
        "footer footer";
        justify-items: stretch;
        align-items: stretch;
        grid-column-gap: 5px;
    }

    /*index_aside*/
    .index__aside-contain{
        justify-self: stretch;
        align-self: stretch;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-content: space-around;
    }



    /*---fotos---*/
    .galeria__main--contain{
        display: grid;
        grid-template-columns: repeat(4, 4fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas: none;
        justify-items: center;
        align-content: stretch;
        grid-row-gap: $espaciado-s;
        grid-column-gap: $espaciado-s;
        margin: $espaciado-s 0 $espaciado-s 0;
    }

    .galeria__main__div__modal__img-tamano{
        margin-left: $espaciado-l - 15;
    }
    
}

@media only screen and (min-device-width: 1024px){
    .contacto__main__form--contain{
        @include flex-box(flex, row wrap, space-around, space-around);
    }
}




