/*font*/
$font-principal: montserrat, sans serif, arial;
$font-gruesa: 900;
$font-mediagruesa: 500;
$font-xl: 3rem;
$font-l: 2.2rem;
$font-m: 1.5rem;
$font-s:1rem;
$input-font-weight: $font-gruesa;

@mixin font-type($size, $grosor,) {
    font-size: $size;
    font-weight: $grosor;    
}

*{
    font-family: $font-principal;
}

a{
    text-decoration: none;
}

h4{
    @include font-type($font-m, $font-gruesa);
    text-align: center;
}

h1, h2 {
    font-weight: $font-gruesa;
}

ul{
    list-style: none;
}

.body__nav__div__logo--style{
    font-weight: $font-gruesa;
}

.nav__div__div__ul__li--style{
    @include font-type($font-m, $font-gruesa);
    text-align: center;
}

.body__banner__div--img h1, h2{
    font-weight: $font-gruesa;
}

.index__main__div__div-text{
    a{
        font-size: $font-xl;
        font-weight: $font-gruesa;
        text-align: center;
    }
    span{
        font-size: $font-m;
        font-weight: $font-mediagruesa;
        text-align: center;
    }
}

.body__footer__div-text{
    p{
        font-size: $font-s + .2;
    }
}

.body__footer__div-icon{
    a{
        font-size: 2rem;
        text-shadow: none;
    }
}

.body__footer__div-sitemap{
    list-style: none;
    li a{
        font-weight: $font-gruesa;
    }
    li{
        font-weight: 200;
    }
}

.bttn--card{
    font-weight: $font-gruesa;
    font-size: $font-l;
}

.nosotros__main__div__div__collapse--contain{
    @include font-type($font-s, $font-gruesa);
}

.nosotros__main__div__div__card--style{
    p{
       @include font-type($font-s, $font-gruesa)
    }
}

.novedades__main__div__carrusel__text{
    h5{
        @include font-type($font-m, $font-gruesa)
    }
    p{
        @include font-type($font-l, $font-gruesa);
    }
}

.contacto__main__form__div__div__input--style, .form-check-label, .bttn--form:hover, .bttn__form--light{
    font-weight: $font-gruesa;
}

.contacto__aside__div__icon--style{
    @include font-type($font-l, $font-gruesa);
    font-family: Arial, Helvetica, sans-serif;
}

.contacto__aside__div__h1--style{
    font-size: $font-l;
    padding: 15px;
}

.table__tbody__th{
    @include font-type($font-s, $font-gruesa);
    font-family: montserrat;
}


.contacto__main__form__h1--style{
    text-align: center;
    font-weight: $font-gruesa;
    color: $input-font-weight;
}

.form__btn--dark, .form__btn--light{
    font-weight: $font-gruesa;
}


